.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col:hover .image {
  opacity: 0.3;
}

.col:hover .middle {
  opacity: 1;
}

#paginate-container {
  width: 144px;
  margin: 20px auto;
  display: none;
}

#paginate-container > ul > li > a {
  width: 85.66px;
  text-align: center;
  color: rgba(0,0,0,.9);
}

#all-images {
  margin: 50px 0;
}

#no-images-yet {
  font-size: 20px;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}